<!DOCTYPE html>
<html>
    <head>
        <meta charset=”utf-8”>
        <title>CRUD Nodejs MYSQL</title>
        link de bootswatch
    </head>
    <body>
        
         <nav class=”navbar navbar-dark bg-dark”>
             <a href=”/” class=”navbar-brand”>CRUD NODEJS MYSQL</a>
         </nav>
